/* custom css file made by JaenDoe */
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* variable declarartion */
:root{
    --main-clr: #567;
    --main-clr-alt: rgba(27, 27, 50, 0.8);
    --black-clr: #1a1b1c;
    --white-clr: #fff;
    --light-clr: #888;
    --light-bg: #eee;
}

/* initialisation */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

/* base code */

html{
    scroll-behavior: smooth;
    font-size: 90%;
}

body{
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-size: .938rem;
    color: var(--black-clr);
    background: var(--white-clr);
}

a{
    text-decoration: underline;
    color: var(--main-clr);
    font-weight: 500;
}

main{
    margin: 30px 8px;
    background: var(--light-bg);
    border-radius: .5rem;
    padding: 1rem;
}

h1{
    font-weight: 2rem;
    text-align: center;
}

h1 + p{
    text-align: center;
    margin: 1rem .5rem;
}

#img-div{
    background: var(--white-clr);
    padding: 0.5rem;
}

#img-div img{
    margin: auto;
    /* max-width: 100%;
    display: block; */
}

img + div{
    margin: 1rem;
    line-height: 1.4;
    font-weight: 300;
    font-size: 1rem;
}

h2{
    font-weight: 1.7rem;
    text-align: center;
    margin: 2rem 0;
}

ul{
    max-width: 40rem;
    width: 100%;
    margin: auto;
}

ul li{
    line-height: 1.4;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: .02rem;
    margin: 1rem 0;
}

ul li strong{
    font-weight: 600;
}

blockquote{
    line-height: 1.4;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: .02rem;
    font-style: italic;
    margin-bottom: 1rem;
}

blockquote p{
    margin-bottom: 1rem;
}

blockquote p span{
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0 .2rem;
}







.link_contaimer{
    font-weight: 600;
    margin: 3rem 0 1rem 0;
    text-align: center;
    font-size: 1.1rem;
}